<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Fertilizer Optimization Engine </title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Fertilizer Optimization Engine </h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
    	<input type="text" name="Nitrogen" placeholder="Enter the nitrogen value" required="required" />
        <input type="text" name="Phosphorus" placeholder="Enter the phosphorus value" required="required" />
		<input type="text" name="Potassium " placeholder="Enter the Potassium value" required="required" />
        <input type="text" name="Temprature" placeholder="Enter the temprature value" required="required" />
		<input type="text" name="Humidity" placeholder="Enter the humidity value" required="required" />
		<input type="text" name="pH" placeholder="Enter the ph value" required="required" />
		<input type="text" name="RainFall" placeholder="Enter the rainfall value" required="required" />
		
		
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
